# Auto detect text files and perform LF normalization
* text=auto eol=lf

# All source code in UNIX format
*.c   text
*.cpp text
*.h   text
*.hpp text
*.s   text
*.S   text
*.ld  text

# Binary files
*.bin binary
*.elf binary
*.dfu binary
*.png binary
*.pdf binary
